* {
    box-sizing: border-box;
} 

body {
    padding-top: 00px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1vw;
    overflow-x:hidden;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#projectLogo {
    background-image: url(../../Image/logo.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
}


    #projectLogo:hover {
        background-color: #E87E29;
        color: tomato;
    }

#coverImageSection {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Image/farmland_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan {
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: beige;
    font-weight: bold;
}

.sloganText {
    color: #82571a;
    text-align: center;
    font-size: 3vw;
}

#MhContainer, #PhContainer, #gnContainer {
    padding: 1% 5% 3% 5%;
}

#importanceSection {
    text-align: center;
    padding-top: 1.6%;
    padding-bottom: 2.5%;
    background-color: #2b2720;
    /*4BB25B CBA783 #9A5F0B */
    color: #dedbd5;
}

#socialAtrributeImage {
    background-image: url("../Image/img-hm-fire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.textContent {
    font-size: 1.5vw;
    text-align: justify;
    line-height: 1.7;
    color: #4a4233;
}

.row {
    display: flex;
}

.row-week1 {
    float:left;
    display: flex;
    height: 100%;
    width: 25%;
    color: #4a4233;
    box-sizing: border-box;
    opacity:0.85;
    padding-left: 5%;
    overflow: hidden;
}

.row-week2 {
    float: left;
    display: flex;
    height: 100%;
    width: 25%;
    color: #4a4233;
    box-sizing: border-box;
    opacity: 0.85;
    padding-left: 5%;
    overflow: hidden;
}

.row-week3 {
    float: left;
    display: flex;
    height: 100%;
    width: 25%;
    color: #4a4233;
    box-sizing: border-box;
    opacity: 0.85;
    padding-left: 5%;
    overflow: hidden;
}

.row-week4 {
    display: flex;
    height: 100%;
    width: 25%;
    color: #4a4233;
    box-sizing: border-box;
    opacity: 0.85;
    padding-left: 5%;
    overflow: hidden;
}

.row-week5 {
    display: flex;
    height: 100%;
    width: 25%;
    color: #4a4233;
    box-sizing: border-box;
    opacity: 0.85;
    padding-left: 5%;
    overflow: hidden;
}

.row-week6 {
    display: flex;
    height: 40%;
    width: 50%;
    color: #4a4233;
    border-bottom: solid;
    box-sizing: border-box;
    opacity: 0.85;
    padding: 6.5%;
}

.row-week7 {
    display: flex;
    height: fit-content();
    width: 60%;
    color: #4a4233;
}
.column {
    overflow: hidden;
    width: 50%;
    flex: 1;
}

.column-container {
    overflow: hidden;
    width: 100%;
    flex: 1;
}

.column-last {
    overflow: hidden;
    width: 100%;
    flex: 1;
    padding: 10px;
}

.column-search {
    overflow: hidden;
    width: 100%;
    flex: 1;
    padding: 10px;
}

.column-week {
    /*float:left; */
    overflow: hidden;
    max-width: 80%; /* 16.3 */
    height: 20%;
    flex: 1;
    border:solid;
}

.column-map {
    overflow: hidden;
    width: 100%;
    height: 10%;
    flex: 1;
    position: relative;
    /*background-image: url(/Image/map-demo.JPG);
    background-position:center;
    background-size: 90% 60%;
    background-repeat:no-repeat; */
}

.circle-box {
    float: left;
    overflow: hidden;
    width: 33%;
    flex: 1;
    align-content:center;
}

    .circle-box:hover {
        opacity: 0.9;
        box-shadow: 0px 0px 5px 4px;
        color: #dedbd5;
    }

.customPadding {
    padding: 5%;
}

.analyticsTitleSection {
    text-align: center;
    background-color: #9A5F0B;
    padding: 5% 4% 3% 4%;
    color: #dedbd5;
}

.mapTitleSection {
    text-align: center;
    background-color: #2b2720;
    padding: 4% 4% 1% 4%;
    color: #dedbd5;
}

.heatMapTitle {
    text-align: center;
    background-color: #2b2720;
    padding: 1% 4% 1% 4%;
    color: #dedbd5;
    width: auto;
    height: 8%;
}

.card-fireDanger {
    box-shadow: 0px 0px 5px 1px;
    background-color: #f1e7c9;
    width: 200px;
    display: inline-block;
    height: 200px;
    transition: 0.2s ease;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    background-image: url("../Image/danger-meter.png");
    background-size: cover;
    background-position: top;
    opacity: 0.80;
    padding: 20px;
}

    .card-fireDanger:hover {
        box-shadow: 0px 0px 5px 4px;
        opacity: 1;
    }

.card-plan {
    box-shadow: 0px 0px 5px 1px;
    background-color: #f1e7c9;
    width: 200px;
    display: inline-block;
    height: 200px;
    transition: 0.2s ease;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    background-image: url("../Image/safety-icon.png");
    background-position: center;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    opacity: 0.80;
    padding: 20px;
}

    .card-plan:hover {
        box-shadow: 0px 0px 5px 4px;
        opacity: 1;
        background-color: white;
    }

.card-ec {
    box-shadow: 0px 0px 5px 1px;
    background-color: #f1e7c9;
    width: 200px;
    display: inline-block;
    height: 200px;
    transition: 0.2s ease;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    background-image: url("../Image/emergency-con.png");
    background-position: center;
    background-size: 100% 102%;
    background-repeat: no-repeat;
    opacity: 0.80;
    padding: 20px;
}

    .card-ec:hover {
        box-shadow: 0px 0px 5px 4px;
        opacity: 1;
        background-color: white;
    }

.container {
    position: relative;
    max-width: 50%;
    margin: 0 auto;
}

    .container .content {
        position: absolute;
        border-right: 3px solid;
        top: 0;
        left: 0.01%;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.68); /* Black background with 0.5 opacity */
        color: #dedbd5;
        width: 49.5%;
        height: 23%;
        padding: 20px;
        text-align: center;
        align-content: center;
        padding: 5px;
        overflow: hidden;
    }

    .container .content2 {
        position: absolute;
        top: 0;
        left: 49.51%;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.68); /* Black background with 0.5 opacity */
        color: #dedbd5;
        width: 49.5%;
        height: 23%;
        padding: 20px;
        text-align: center;
        align-content: center;
        padding: 5px;
        overflow: hidden;
    }

    .fire_danger_rating {
        align-content: center;
    }


.row-week1:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 5px 4px;
    color: #4a4233;
    border: solid;
}

.row-week2:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 5px 4px;
    color: #4a4233;
    border: solid;
}

.row-week3:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 5px 4px;
    color: #4a4233;
    border: solid;
}

.row-week4:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 5px 4px;
    color: #4a4233;
    border: solid;
}

.row-week5:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 5px 4px;
    color: #4a4233;
    border: solid;
}

.row-week6:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 5px 4px;
    color: #4a4233;
    border: solid;
}

.fire_danger_rating {
    font: normal 16px/1.5 'Roboto', sans-serif;
    margin-top: 30px;
}

.chart-skills {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

    .chart-skills *,
    .chart-skills::before {
        box-sizing: border-box;
    }

.mainrating .chart-skills {
    position: relative;
    width: 350px;
    height: 175px;
    overflow: hidden;
}

.chart-skills::before,
.chart-skills::after {
    position: absolute;
}

.chart-skills::before {
    content: '';
    width: inherit;
    height: inherit;
    border-bottom: none;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
}

.chart-skills::after {
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 900;
    color: orangered;
}

.chart-skills li {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 45px solid;
    border-top: none;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: linear;
}

    .chart-skills li:nth-child(1) {
        z-index: 4;
        animation-name: rotate-one;
        border-color: green;
        border-style:dashed;
    }

    .chart-skills li:nth-child(2) {
        z-index: 3;
        border-color: yellow;
        animation-name: rotate-two;
        animation-delay: .4s;
        border-style: groove;
    }

    .chart-skills li:nth-child(3) {
        z-index: 2;
        border-color: darkorange;
        animation-name: rotate-three;
        animation-delay: .8s;
        border-style:ridge;
    }

    .chart-skills li:nth-child(4) {
        z-index: 1;
        border-color: firebrick;
        animation-name: rotate-four;
        animation-delay: 1.2s;
        border-style: groove;
        border-top: none;
    }

.chart-skills span {
    position: absolute;
    font-size: 15px;
    backface-visibility: hidden;
    animation: fade-in .4s linear forwards;
}

.chart-skills li:nth-child(1) span {
    top: 5px;
    left: 10px;
    color: green;
    transform: rotate(-21.6deg);
}

.chart-skills li:nth-child(2) span {
    top: 20px;
    left: 10px;
    color: yellow;
    transform: rotate(-79.2deg);
    animation-delay: .4s;
}

.chart-skills li:nth-child(3) span {
    top: 18px;
    left: 10px;
    color: darkorange;
    transform: rotate(-140.4deg);
    animation-delay: .8s;
}

.chart-skills li:nth-child(4) span {
    top: 10px;
    left: 10px;
    color: firebrick;
    transform: rotate(-180deg);
    animation-delay: 1.2s;
}

.subrating .chart-skills {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

