
@{
    ViewBag.Title = "About_Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    img-box1 {
        float: left;
        width: 30%;
        height: fit-content();
        padding: 20px;
        margin: auto;
        background-color:white;
    }
    img-box2 {
        float: left;
        width: 30%;
        height: 10%;
        padding: 20px;
        margin: auto;
        background-color:white;
    }

</style>

<body style="background-color:black">
    <h2 style="color:white;font-size:36px;text-align:center;font-family:Stencil">About Us</h2>

    <p> This is our team MA 28 Epoch </p>
    <div class="row" style="padding:20px;">
        <img-box1>
            <img src="~/Image/Jeetu.png">
        </img-box1>
    </div>
    <div class="row" style="padding:20px">
        <img-box2>
            <img src="~/Image/Chin.png">
        </img-box2>

    </div>

    <div class="row" style="padding:20px">
        <img-box2>
            <img src="~/Image/KP.png">
        </img-box2>

    </div>

    <div class="row" style="padding:20px">
        <img-box2>
            <img src="~/Image/Jing.png">
        </img-box2>

    </div>

    <div class="row" style="padding:20px">
        <img-box2>
            <img src="~/Image/Shijin.png">
        </img-box2>

    </div>
</body>