
@{
    ViewBag.Title = "About_Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
<div class="safetyTitleSection">

    <div class="container body-content">
        <h1 id="Title"> ABOUT US </h1>
    </div>
</div>

<div class="row-about">
    <div class="column-logo">
    </div>
    <div class="project-description">
        <h1> FIRE SAFE FARMS </h1>
        <p style="text-align:justify"> We at Fire Safe Farms understand that IT as a means of social good 
            can be active catalyst in shaping our futures. We are a dedicated bunch and we strongly
            believe that adversities of tomorrow can be dealth with preparedness we bring in to
            practice today. <br>
            We also see farmer and agri-based ventures as lifelines of stable and susstainable growth. 
            Therefore, we are committed to help the farming community of Australia and keep them up and
            ready to take down bush fires since they aleady have seen the worse of it over the past decade
            on multiple occasions.
        </p>
    </div>
</div>

<div class="forecast_title">
    <h1> OUR TEAM </h1>
</div>
<div class="row" style="width:100%;height:300px;margin-top:2%;">
    <div class="mem1" style="float:left;width:20%;height:100%;background-image:url(../../Image/Jeetu.JPG);
                                background-position:center;background-size:contain;background-repeat:no-repeat"> </div>
    <div class="mem2" style="float:left;width:20%;height:100%;background-image:url(../../Image/Chin.JPG);
                                background-position:center;background-size:contain;background-repeat:no-repeat"> </div>
    <div class="mem3" style="float:left;width:20%;height:100%;background-image:url(../../Image/Jing.JPG);
                                background-position:center;background-size:contain;background-repeat:no-repeat"> </div>
    <div class="mem4" style="float:left;width:20%;height:100%;background-image:url(../../Image/Shijin.JPG);
                                background-position:center;background-size:contain;background-repeat:no-repeat"> </div>
    <div class="mem5" style="float:left;width:20%;height:100%;background-image:url(../../Image/KP.png);
                                background-position:center;background-size:contain;background-repeat:no-repeat"> </div>
</div>
</body>